<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mymusicplayer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="activitys.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="activitys.Launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activitys.AboutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name="activitys.LocalMusic"
            android:screenOrientation="portrait"
            />
        <activity android:name="activitys.ArtistActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="activitys.AlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="activitys.FavorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="activitys.PlayerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>